/* style.css */

body {
    /* align-content: center; */
    /* justify-content: center; */
    text-align: left; 
    min-height: 90vh;
    width: 100vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
}

#page_grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 8px;
}

#header {
    display: flex;
    color: black;
    padding: 5px;
    height: auto;
    border-bottom: 2px solid rgb(0, 52, 87);
}

h1{
    font-size: 22px;
    margin-left: 12px;
    margin-top: 4px;
}

#flex_grid {
    display: block;
    grid-template-columns: auto;
    justify-content: center;
}

#host_panel {
    padding: 12px;
    margin: auto;
    justify-content: center;
}

#bttn_link {
    border-bottom: 1px solid rgb(0, 52, 87);
    border-top: 1px solid rgb(0, 52, 87);
    border-right: 1px solid rgb(0, 52, 87);
    border-left: 4px solid rgb(0, 52, 87);
    border-top-right-radius: 12px;
    height: auto;
    width: 400px;
    padding: 4px;
    padding-left: 12px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    text-align: left;
    text-justify: auto;
}

#inline_image {
    height: 24px;
    margin-top: 8px;
    margin-right: 8px;
}

.h_iframe iframe {
    position:relative;
    top:0;
    right:0;
    width: 500px;;
    height:500px;
}

a {
    text-decoration: none;
    text-decoration-color: none;
}

#bttn_link:hover {
    background-color: rgb(0, 52, 87);
    border-color: coral;
    color: white;
    margin-left: 12px;
    transition-duration: 500ms;
}

#bttn_link:not(:hover) {
    transition-duration: 500ms;
}

#bttn_link:active {
    box-shadow: none;
    translate: 2px 2px;
    transition-duration: 500ms;
}